@{
    ViewData["Title"] = "Cadastro";
}

<h2>Cadastro</h2>
<form>
    <label>Nome:</label>
    <input type="text" class="form-control" required>

    <label>Email:</label>
    <input type="email" class="form-control" required>

    <label>Senha:</label>
    <input type="password" class="form-control" required>

    <button type="submit" class="hq-button">Cadastrar</button>
</form>
